.page, .post {
    margin-bottom: 0;
}

.line-separator{
  height:1px;
  border-bottom:1px solid;
  border-color: lightgrey;
}

.post-author {
  padding-bottom: 30px;
}

a.anchorjs-link {
  color: #8E8E8E;
  text-decoration: none;
}