/*****************************************************************************/
/*
/* Tags
/* from https://github.com/lanyonm/lanyonm.github.io/blob/master/_sass/main.scss
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  line-height: 2.5;
}

.tag-box a {
  padding: 0.25rem 0.3rem;
  margin: 0.1rem ;
  background-color: #e6e6e6;
  -webkit-border-radius: 0.25rem ;
  -moz-border-radius: 0.25rem ;
  border-radius: 0.25rem ;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 0.8rem;
  font-size: 0.625rem;
}
