---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
    
    <p>post.description.size; {{ post.description.size }}</p>
    <p>post.excerpt.size; {{ post.excerpt.size }}</p>
    <p>post.content.size; {{ post.content.size }}</p>
    
    {% if post.description.size > 0 %}
      {{ post.description }}
      <p><a href="{{ post.url }}">Read more...</a></p>
    {% elsif post.content contains '<span class="break" />' %}
      {{ post.content | split:'<span class="break" />' | first }}
      <p><a href="{{ post.url }}">Read more...</a></p>
    {% elsif post.excerpt.size < 500 %}
      {{ post.excerpt | split:'<p class="signature">' | first }}
      <p><a href="{{ post.url }}"> Read more...</a></p>
    {% elsif post.content.size > 500 %}
      {{ post.content | truncatewords: 50  | remove: '</p>'}}
      <a href="{{ post.url }}"> Read more!</a></p>
    {% else %}
      {{ post.content | split:'<p class="signature">' | first }}
    {% endif %}
    
    {% comment %}
    {% if post.content contains '<span class="break" />' %}
      {{ post.content | split:'<span class="break" />' | first }}
      {% if post.content contains '<span class="break" />' %}
        <p><a href="{{ post.url }}">Read more...</a></p>
      {% endif %}
    {% else %}
      {{ post.content | split:'<p class="signature">' | first }}
    {% endif %}
    {% endcomment %}
    
  </div>
  <div class="line-separator"></div>
  <div class="post-author">{{ site.author.name }}</div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}{{ site.blog_path }}page{{ paginator.next_page }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{ site.blog_path }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}{{ site.blog_path }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
